*.iml
.gradle
/.kotlin/
/web-app/node_modules/
/web-app/dist/
/local.properties
/deploy/.env
/server/.env
/server/build/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.tools/
